.navbar-public {
  background-color: var(--ct-bg-topbar-dark);
  -webkit-box-shadow: var(--ct-box-shadow);
          box-shadow: var(--ct-box-shadow);
}

.footer-public {
  background-color: var(--ct-bg-topbar-dark);
  -webkit-box-shadow: var(--ct-box-shadow);
          box-shadow: var(--ct-box-shadow);
  color: white;
}